<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginControllerSoap" />
                <binding name="RegistrazioneControllerSoap" />
                <binding name="GestioneMercatoControllerSoap" />
                <binding name="GestioneLegaControllerSoap" />
                <binding name="GestioneSvincoloControllerSoap" />
                <binding name="GestioneUtenteControllerSoap" />
                <binding name="GestioneAdminControllerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50313/Controller/LoginController.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoginControllerSoap"
                contract="ServerLogin.LoginControllerSoap" name="LoginControllerSoap" />
            <endpoint address="http://localhost:50313/Controller/RegistrazioneController.asmx"
                binding="basicHttpBinding" bindingConfiguration="RegistrazioneControllerSoap"
                contract="ServerLogin1.RegistrazioneControllerSoap" name="RegistrazioneControllerSoap" />
            <endpoint address="http://localhost:54424/Controller/GestioneLegaController.asmx"
                binding="basicHttpBinding" bindingConfiguration="GestioneLegaControllerSoap"
                contract="ServerLegaLega.GestioneLegaControllerSoap" name="GestioneLegaControllerSoap" />
            <endpoint address="http://localhost:54424/Controller/GestioneSvincoloController.asmx"
                binding="basicHttpBinding" bindingConfiguration="GestioneSvincoloControllerSoap"
                contract="ServerLegaSvincolo.GestioneSvincoloControllerSoap"
                name="GestioneSvincoloControllerSoap" />
            <endpoint address="http://localhost:54424/Controller/GestioneUtenteController.asmx"
                binding="basicHttpBinding" bindingConfiguration="GestioneUtenteControllerSoap"
                contract="ServerLegaUtente.GestioneUtenteControllerSoap" name="GestioneUtenteControllerSoap" />
            <endpoint address="http://localhost:54424/Controller/GestioneAdminController.asmx"
                binding="basicHttpBinding" bindingConfiguration="GestioneAdminControllerSoap"
                contract="ServerLegaAdmin.GestioneAdminControllerSoap" name="GestioneAdminControllerSoap" />
            <endpoint address="http://localhost:54424/Controller/GestioneMercatoController.asmx"
                binding="basicHttpBinding" bindingConfiguration="GestioneMercatoControllerSoap"
                contract="ServerLegaMercato.GestioneMercatoControllerSoap"
                name="GestioneMercatoControllerSoap" />
        </client>
    </system.serviceModel>
</configuration>