<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OperazioniSoap" />
                <binding name="LoginControllerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64636/Operazioni.asmx" binding="basicHttpBinding"
                bindingConfiguration="OperazioniSoap" contract="ServiceReference1.OperazioniSoap"
                name="OperazioniSoap" />
            <endpoint address="http://localhost:50313/Controller/LoginController.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoginControllerSoap"
                contract="ServerLogin.LoginControllerSoap" name="LoginControllerSoap" />
        </client>
    </system.serviceModel>
</configuration>