<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginControllerSoap" />
                <binding name="RegistrazioneControllerSoap" />
                <binding name="ServerLegaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50313/Controller/LoginController.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoginControllerSoap"
                contract="ServerLogin.LoginControllerSoap" name="LoginControllerSoap" />
            <endpoint address="http://localhost:50313/Controller/RegistrazioneController.asmx"
                binding="basicHttpBinding" bindingConfiguration="RegistrazioneControllerSoap"
                contract="ServerLogin1.RegistrazioneControllerSoap" name="RegistrazioneControllerSoap" />
            <endpoint address="http://localhost:54424/Controller/ServerLega.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServerLegaSoap"
                contract="ServerLega.ServerLegaSoap" name="ServerLegaSoap" />
        </client>
    </system.serviceModel>
</configuration>